.BuildControls{
    width: 100%;
        background-color: thistle;
        display: flex;
        flex-flow: column;
      align-items: center;
        box-shadow: 1px 2px gray;
        margin:  auto ;
        padding: 10px 0;
    }