.Navigationitem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;


}

.Navigationitem a{
color: white;
text-decoration: none;
height: 100%;
padding: 16px 10px;
border-bottom: 4px solid transparent;
box-sizing: border-box;
display: block;

}

.Navigationitem a:hover,
.Navigationitem a:active,
.Navigationitem a.active{

    background-color: rgb(218, 177, 218);
    border-radius: 5px;

    border-bottom: 4px solid rgb(244, 255, 244);
    color: white;


}

